@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html, body, #app {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.openseadragon-canvas {
  outline: none;
}

.overlay {
  backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 18px;
  width: 300px;
}